$complete-width: 100%;

.suggestionWrapper {
  width: $complete-width;
  box-shadow: 0 0.125rem 0.5rem $box-shadow-color;
}

.suggestion {
  display: flex;
  align-items: center;
  cursor: 'pointer';
  width: $complete-width;
  height: 3.125rem;
  background-color: white;
  color: $disabled-high-emphasis-color;
  text-decoration-line: none;

  .body2 {
    margin-left: 2rem;
    @include text-overflow-ellipsis;
  }

  &:active,
  &.active,
  &:hover,
  &:focus {
    background-color: $primary-50-color;
  }
}

.invalid {
  border: 3px solid $error-color !important;
}

.input {
  width: $complete-width;
}

.error {
  color: $error-color;
  position: absolute;

  @include font-type('caption');
}

.wrapper {
  position: relative;
}
