.notChecked {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid $disabled-low-emphasis-color;
  border-radius: 0.25rem;
}

.checkbox {
  display: flex;
}

.CheckBoxLabelBody {
  @include font-type('body 3');
  align-self: center;
  margin-left: 0.75rem;

  @include text-overflow-ellipsis;

  @include bp-down('xs') {
    max-width: 5rem;
  }
}
