@import 'utils';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $filter-top-margin;
  padding-bottom: 5vh;
}

.bookmarksContainer {
  padding-top: 5vh;
  flex-grow: 1;
  overflow-y: hidden;
}