// Setup the theme here (use variables whenever possible so they can be reused)
// in other files.

body {
  font-family: $primary-font-stack;
  background-color: $primary-1-color;
}

.disappear-on-xs {
  @extend .d-none;
  @extend .d-sm-flex;
}

.disappear-on-sm {
  @extend .d-none;
  @extend .d-md-flex;
}

/**
 * STYLE GUIDE BUTTONS
 */

// btn = primary btn
// .btn,
.btn-primary {
  @extend .rounded-pill;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  font-weight: $bold-font-weight;
  font-size: $xl-font-size;
  background-color: $primary-light-color;
  color: white;
  box-shadow: none;
  border: 0;

  @include mousedown {
    background-color: $primary-dark-color !important;
    box-shadow: none !important;
  }

  &:hover {
    @include set-box-shadow($primary-dark-color);
    background-color: $primary-light-color;
  }

  &:focus {
    box-shadow: none;
    background-color: $primary-light-color;
  }
}

.btn-secondary {
  @extend .btn-primary;
  font-size: $md-font-size;
}

.btn-tertiary {
  @extend .btn-secondary;
  padding-left: 3rem;
  padding-right: 3rem;
}

.show > .btn-success.dropdown-toggle {
  background-color: $primary-light-color;
  border-color: $primary-light-color;
  &:focus {
    box-shadow: none;
  }
}

.btn-success {
  border-color: $primary-light-color;
  &:focus,
  &:hover,
  &:not(:disabled):not(.disabled):active {
    background-color: $primary-light-color;
    border-color: $primary-light-color;
    box-shadow: none;
    &:focus{
      box-shadow: none;
    }
  }
}
// TODO test this
.toggle-btn {
  &-inactive,
  &-active {
    border-radius: $sm-border-radius;
    font-weight: $bold-font-weight;
  }

  // not selected
  &-inactive {
    border: 3px $primary-dark-color;
    color: $primary-dark-color;
    background-color: white;
  }

  // selected
  &-active {
    border: 3px $primary-light-color;
    color: white;
    background-color: $primary-light-color;
  }
}

// .tag-btn = selected .toggle-btn (i.e. .toggle-btn-active)
.tag-btn {
  @extend .toggle-btn-active;
}

.no-show {
  @include no-show;

  @include mousedown {
    @include no-show;
  }

  &:hover,
  &:active,
  &:focus {
    @include no-show;
  }
}

.btn-no-show {
  @extend .no-show;
}

/**
 * STYLE GUIDE TEXT CLASSES
 */
.price-related-large-text {
  @include font-type('price-related-large');
}

.price-related-small-text {
  @include font-type('price-related-small');
}

.address-related-text {
  @include font-type('address-related');
}

.primary-input-text {
  @include font-type('primary-input-text');
}

h1,
.title {
  @include font-type('title');
}

.secondary-title {
  @include font-type('secondary-title');
}

.primary-text,
.text-primary {
  @include font-type('primary-text');
}

.secondary-text,
.text-secondary {
  @include font-type('secondary-text');
}

.tooltip-text {
  @include font-type('tooltip');
}

p,
.subtitle-text {
  @include font-type('subtitle');
}

.special-text {
  @include font-type('special');
}

/**
 * STYLE GUIDE BORDERS
 */
.sm-thin-border {
  @include thin-border('sm');
}

.md-thin-border {
  @include thin-border('md');
}

.lg-thin-border {
  @include thin-border('lg');
}
// TODO
// .secondary-title {
//   font-size: 20px;
// }
