.charCheck {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 6.25rem;
  color: $primary-dark-color;
}

.charCheckError {
  bottom: 2rem;
}

.label {
  @include font-type('subtitle 1');
}

.content {
  resize: none;
  border: $x-border-width solid $primary-300-color;

  &:focus {
    border-color: $primary-300-color !important;
    box-shadow: none;
  }

  @include font-type('body 3');
}

.inputStatus {
  margin-right: 0.25rem;
}

.invalid {
  border: 3px solid $error-color !important;
  color: $error-color !important;
}

.error {
  color: $error-color;
  margin-top: 0.125rem;

  @include font-type('caption');
}

.unfilled {
  border-color: $border-color;
}

.readOnly {
  background-color: $primary-50-color !important;
}

.placeHolder {
  color: $disabled-medium-emphasis-color;
}

.formControlWrapper {
  padding-bottom: 1.875rem;
}
