.charCheck {
  position: absolute;
  right: 0.75rem;
  bottom: 0;
  color: $primary-dark-color;
}

.charCheckError {
  bottom: 2rem;
}

.label {
  @include font-type('subtitle 1');
}

.content {
  @include font-type('body 3');
  resize: none;
  border: 0.125rem solid $primary-300-color;
  &:focus {
    border-color: $primary-300-color !important;
    box-shadow: none;
  }
}

.inputStatus {
  margin-right: 0.25rem;
}

.invalid {
  border: 3px solid $error-color !important;
  color: $error-color !important;
}

.error {
  @include font-type('caption');

  color: $error-color;
  margin-top: 0.125rem;
}

.unfilled {
  border-color: $border-color;
}

.readOnly {
  background-color: $primary-50-color !important;
}

.placeHolder {
  color: $disabled-medium-emphasis-color;
}
