@import 'utils';

.closeBtn {
  position: absolute;
  display: block;
  width: 41px;
  height: 41px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  margin: 10px 0px 0px 10px !important;

  &:hover {
    margin: 10px 0px 0px 10px !important;
  }
}

.slideshow {
  margin: 0;
  overflow: hidden;
  border-radius: $rounded-lg 0 0 $rounded-lg;

  @include bp-down('md') {
    border-radius: $rounded-lg $rounded-lg 0 0;
  }
}
