@import '../../assets/sass/index';

.title {
  @include font-type('secondary-title');

  justify-content: center;
  margin: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.word {
  @include font-type('label-text');
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.shortInput {
  width: 140px !important;
  margin-bottom: 0.5rem;
}

.amenitiesToggle {
  width: 180px;
  height: 80px;
}
