.wrapper {
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(199, 131, 95, 0.1);
  width: 100%;
}

.logo {
  @include bp-down('sm') {
    width: 100%;
  }
}

.container {
  display: flex;
  align-items: center;
  margin: 0 $entire-site-margin-x;
  width: 100%;
  height: $navbar-height;
}

.logoutText {
  color: $background-blur-dark;
}

.postImgWrap {
  @include svg-fill($primary-200-color, 2.5rem, 2.5rem);
}

.imageContainer {
  margin-right: auto;
  @include bp-down('sm') {
    width: 50%;
  }
}
