.wrapper {
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(199, 131, 95, 0.1);
  width: 100%;
}

.logo {
  height: 60px;
}

.g-auth {
  box-shadow: none !important;
  margin: 0 auto;
}

.navBtn {
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.2em;
  color: $secondary-dark-color !important;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 $entire-site-margin-x;;
  width: 100%;
  height: $navbar-height;
}
