/**
 * Setup the theme here (use variables whenever possible so they can be reused) in other files.
 */

body {
  font-family: $primary-font-stack;
  background-color: $background-color;
}

/**
 * STYLE GUIDE BUTTONS
 */
.btn-primary {
  @include rounded-pill-shape;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  font-weight: $bold-font-weight;
  font-size: $xl-font-size;
  background-color: $primary-light-color;
  color: white;
  box-shadow: none;
  border: 0;

  &:hover {
    @include box-shadow($primary-dark-color);
    background-color: $primary-light-color;
  }

  &:focus {
    box-shadow: none;
    background-color: $primary-light-color;
  }
}

.show > .btn-success.dropdown-toggle {
  background-color: $primary-light-color;
  border-color: $primary-light-color;
  &:focus {
    box-shadow: none;
  }
}

h1 {
  @include font-type('h1');
}

h2 {
  @include font-type('h2');
}

h3 {
  @include font-type('h3');
}

h4 {
  @include font-type('h4');
}

h5 {
  @include font-type('h5');
}

b {
  font-weight: $bold-font-weight;
}
