.wrapper {
  min-width: 100vw;
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  // $entire-site-margin-x
  margin-top: $filter-top-margin;

  @include bp-down('sm') {
    padding: 3rem 0;
  }
}

// provides margin bottom to every child except last one
.marginBottomProvider div:not(:last-child) {
  margin-bottom: 0.2rem;
}

// .getStarted {
//   color: $primary-400-color !important;
//   text-align: left;
// }

.copyRighttext {
  color: $disabled-low-emphasis-color;
  @include font-type('body 5');
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.copyRight {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.email {
  word-break: break-word;
}

.childrenText {
  @include font-type('body 3');
  padding-top: 0.3em;
}
.childrenText:hover {
  text-decoration: underline;
}

.logoText {
  color: $primary-300-color;
  display: inline-block;
  @include font-type('subtitle 5');
  margin-right: 1em;
}

.logoTextWrap {
  display: flex;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}

.titleText {
  margin-top: 0.25rem;
  margin-left: 0.75rem;
  margin-bottom: 2rem;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerIcon {
  @include svg-fill($primary-300-color, 2rem, 2rem);
}

.linkSection {
  margin-top: 0.8rem;
}

.childrenText {
  @include font-type('body 3');
}
