.materialUIModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: block;
  outline: 0;
  background-color: #fff;
  max-height: 90vh;
  border-radius: $sm-border-radius;
  overflow-y: auto;
  padding: 1rem;
}

.ModalGraphic {
  display: flex;
  justify-content: center;
}

.text {
  text-align: center;
}

.title {
  margin: 1.5rem 0 0.5rem;
}

.caption {
  margin-bottom: 2rem;
  text-align: center;

  @include font-type('body 3');
}

.md {
  width: 30rem;
}

.lg {
  width: 90vw;
}
