.root {
  .toggle {
    @include font-type('primary-input-text');
    margin: 5px 10px;
    border: 3px $primary-5-color solid;
    border-radius: $sm-border-radius;
    word-break: keep-all;

    &:hover, &:focus {
      @include box-shadow($primary-input-color);
    }
  }

  .unselected {
    &, &:hover, &:focus {
      border-color: $primary-5-color;
      background-color: white;
      color: $primary-5-color;
    }

    svg {
      fill: $primary-5-color;
      stroke: none;
    }
  }

  .selected {
    &, &:hover, &:focus {
      border-color: $primary-input-color;
      background-color: $primary-input-color;
      color: white;
    }

    svg {
      fill: white;
      stroke: none;
    }
  }
}
