@import 'utils';

.toggle {
  @include font-type('primary-input-text');
  margin: 15px 10px;
  border: 3px $primary-5-color solid;
  border-radius: $sm-border-radius;
  word-break: keep-all;

  &:hover, &:focus {
    @include set-box-shadow($primary-input-color);
  }
}

.unselected {
  &, &:hover, &:focus {
    @extend .toggle;
    border-color: $primary-5-color;
    background-color: white;
    color: $primary-5-color;
  }

  & svg {
    fill: $primary-5-color;
    stroke: none;
  }

  @include mousedown {
    @extend .selected;
    @include set-box-shadow($primary-input-color);
  }
}

.selected {
  &, &:hover, &:focus {
    @extend .toggle;
    border-color: $primary-input-color;
    background-color: $primary-input-color;
    color: white;
  }

  & svg {
    fill: white;
    stroke: none;
  }

  @include mousedown {
    @extend .unselected;
    @include set-box-shadow($primary-input-color);
  }
}
