.root {
  .toggle {
    @include font-type('subtitle 4');
    color: $primary-light-color;
    margin: 0.9375rem 0.625rem;
    margin-bottom: 0;
    border: 0.0625rem $primary-300-color solid;
    border-radius: $sm-border-radius;
    word-break: keep-all;
    box-shadow: none;
  }

  .vertical {
    width: 9.375rem;
    height: 4.5625rem;
  }

  .label {
    align-self: center;
    @include text-overflow-ellipsis;
  }

  .unselected {
    background-color: white;
    &:hover {
      background-color: $primary-50-color;
      color: $primary-200-color;
    }
    @include svg-fill($primary-300-color);
    svg {
      rect {
        stroke: $primary-300-color;
      }
    }
  }

  .selected {
    &,
    &:hover {
      border-color: $primary-light-color;
      background-color: $primary-light-color !important;
      color: white !important;
    }
    @include svg-fill(white);
    svg {
      // override the rectangle stroke
      rect {
        stroke: white;
      }
    }
  }

  .readOnly {
    border-color: $primary-50-color;
    color: $disabled-low-emphasis-color;
    background-color: $primary-50-color;
    @include svg-fill($disabled-low-emphasis-color);
  }
}
