.title {
  margin-top: 13rem;
  margin-bottom: 13rem;
}

.intro {
  margin-top: 10rem;
  margin-bottom: 10rem;
  justify-content: center;
}

.caption {
  color: $primary-light-color;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  margin: 1.25rem;
}

.text {
  margin-top: 3.2rem;
  justify-content: center;
  text-align: center;

  @include font-type('body 1');
}

.textLg {
  justify-content: center;

  @include font-type('h3');
}

.subtext {
  color: $primary-dark-color;
  justify-content: center;
  margin-bottom: 3.2rem;
  margin-top: 0.25rem;
  text-align: center;

  @include font-type('body 2');
}

.subtextIntro {
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;

  @include bp-up('lg') {
    max-width: 25rem;
  }

  @include font-type('body 1');
}

.textSm {
  @include font-type('body 3');
}

.smallImg {
  height: 8.5rem;
}

.buttonInner {
  margin: inherit; // use parent's margin since they are the same by design
}

.buttonLink {
  text-decoration: none;
}

.smallRow {
  justify-content: center;
  margin-bottom: 0.5rem;
}

.bigRow,
.center {
  display: flex;
  justify-content: center;
}

.iconRow {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.introCol {
  margin: 2rem;
}

.housingicon {
  display: flex;
}

.textIntro,
.subtextIntro {
  @include bp-down('md') {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.logoText {
  color: $primary-light-color;
  margin-left: 1rem;

  @include font-type('h2');
}

.logo {
  height: 4.125rem;
  width: 4.125rem;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  background-color: $primary-200-color;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 0.3rem;
  border-radius: 50%;
  display: inline-block;
}

#landing.container {
  max-width: 100%;
  margin: auto;
}

.homePageCardCol {
  height: 51.75rem;
  position: relative;
}

.homePageCard {
  height: 72%;
  width: 80%;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -36%;
  transition: all 1s;

  &:hover {
    left: 32px;
    top: calc(50% - 32px);
  }

  > div {
    display: flex;
    justify-content: center;
  }
}

.stepImage {
  transition: all 1s;
}

.postStep {
  &Arrow {
    visibility: hidden;
  }

  &Arrow.currentStep {
    visibility: visible;
  }

  &Text {
    background-color: $primary-300-color;
  }
}
