.title {
  margin-top: 13rem;
  margin-bottom: 13rem;
}

.intro {
  margin-top: 10rem;
  margin-bottom: 10rem;
  justify-content: center;
}

.caption {
  color: $primary-light-color;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  margin: 1.25rem;
}

.text {
  margin-top: 3.2rem;
  justify-content: center;
  text-align: center;

  @include font-type('body 1');
}

.textLg {
  justify-content: center;

  @include font-type('h3');
}

.subtext {
  color: $primary-dark-color;
  justify-content: center;
  margin-bottom: 3.2rem;
  margin-top: 0.25rem;
  text-align: center;

  @include font-type('body 2');
}

.subtextIntro {
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;

  @include bp-up('lg') {
    max-width: 25rem;
  }

  @include font-type('body 1');
}

.textSm {
  @include font-type('body 3');
}

.smallImg {
  height: 8.5rem;
}

.buttonInner {
  margin: inherit; // use parent's margin since they are the same by design
}

.buttonLink {
  text-decoration: none;
}

.smallRow {
  justify-content: center;
  margin-bottom: 0.5rem;
}

.bigRow,
.center {
  display: flex;
  justify-content: center;
}

.iconRow {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.introCol {
  margin: 2rem;
}

.housingicon {
  display: flex;
}

.textIntro,
.subtextIntro {
  @include bp-down('md') {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.logoText {
  color: $primary-light-color;
  margin-left: 1rem;

  @include font-type('h2');
}

.logo {
  height: 4.125rem;
  width: 4.125rem;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  background-color: $primary-200-color;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 0.3rem;
  border-radius: 50%;
  display: inline-block;
}

#landing.container {
  max-width: 100%;
  margin: auto;
}

.homePageCardCol {
  height: 51.75rem;
  position: relative;
}

.homePageCard {
  height: 72%;
  width: 80%;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -36%;
  transition: all 1s;

  &:hover {
    left: 32px;
    top: calc(50% - 32px);
  }

  > div {
    display: flex;
    justify-content: center;
  }
}

.stepsHeading {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;

  @include font-type('h3');
}

.stepsWrapper {
  position: relative;

  .stepImage {
    background-size: contain;

    &LargeScreen {
      position: absolute;
      top: 0;
      left: 0;
      transition: all 1s;
      max-width: 43.75rem;
    }

    &NormalScreen {
      height: 0;

      @include respond(tab-land) {
        height: 40vh;
      }
    }
  }

  .postStep {
    &NormalScreen {
      visibility: hidden;
      height: 0;

      &Description {
        text-align: center;
        margin-bottom: 1.5rem;
      }

      &Text {
        color: $primary-300-color;

        @include font-type('subtitle 1');
      }
    }

    &LargeScreen {
      width: 27rem;
      height: 6rem;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &Arrow {
        visibility: hidden;

        @include absCenter();
      }

      &Arrow.currentStep {
        visibility: visible;
      }

      &Description {
        width: 25rem;
        height: 100%;
        display: inline-block;
        position: relative;
        background-color: white;
        border-radius: $sm-border-radius;

        &Active {
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.18);
          background-color: $primary-300-color;
        }

        @include font-type('subtitle 1');
      }

      &ArrowWrapper {
        width: 2rem;
        height: 100%;
        display: inline-block;
        position: relative;
      }

      &Text {
        color: $primary-300-color;
        width: fit-content;

        &Active {
          color: white;
        }

        @include absCenter {
          transform: translate(0, -50%);
          left: 2rem;
        }
      }
    }
  }

  @include respond(tab-land) {
    & .postStepLargeScreen,
    & .stepImageLargeScreen {
      visibility: hidden;
      height: 0;
    }

    & .postStepLargeScreenArrow.currentStep {
      visibility: hidden;
    }

    & .postStepNormalScreen {
      visibility: visible;
      height: fit-content;
    }
  }
}
