.bookmark {
  @include font-type('subtitle');
  @include thin-border('sm');

  background-color: white;
  height: 70px;
  width: 100%;
  border-radius: 15px;
  display: flex;

  img {
    @extend .p-1;
    @extend .mr-2;

    display: block;
    border-radius: 13px;
    width: 65px;
    height: 100%;
    align-self: center;
  }

  &-info {
    @extend .p-2;
    text-overflow: ellipsis;
  }
}
