$tv-bottom-items-color: $primary-5-color;

.tv-container {
  display: inline-block;
  border: none;
  background-color: $darker-background-color;
  padding: 12px;
  border-radius: 22px;
  width: $bookmarks-list-width;
}

.tv-buttons-div {
  border: none;
  background-color: white;
  padding: 6px;
  border-radius: 17px 17px 10px 10px;
  text-align: center;

  div,
  span,
  button,
  .btn {
    margin-left: auto;
    margin-right: auto;
  }

  .btn:first-child {
    padding-top: 2vh;
  }

  .btn:last-child {
    padding-bottom: 2vh;
  }

  .btn {
    @include py(1);
  }
}

.tv-bottom {
  display: flex;
  justify-content: space-around;
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 12px;
  padding-bottom: 2x;

  &-item {
    background-color: $tv-bottom-items-color;
    border: 0;
    height: 20px;
  }

  &-bar {
    @extend .tv-bottom-item;
    min-width: 70%;
    border-radius: 20px;
  }

  &-circle {
    @extend .tv-bottom-item;
    width: 20px;
    border-radius: 50%;
  }
}

.tv-title {
  @include font-type('special');
  margin-top: 2vh;
}

.tv-separator {
  padding-bottom: 1vh;
  width: 90%;
  border: 0;
  border-top: 3px solid $tv-bottom-items-color;
}
