.distanceText {
  display: flex;

  @include font-type('subtitle 2');

  svg {
    margin-right: 0.25rem;
  }
}

.transitText {
  @include font-type('body 3');
}

.day {
  color: $disabled-low-emphasis-color;
  margin-bottom: 1rem;
  height: 1.875rem;

  @include font-type('body 4');

  svg {
    margin-right: 0.375rem;
  }
}

.name {
  color: $secondary-900-color;
  height: 2.125rem;
  margin-bottom: 1rem;

  @include font-type('h3');
  @include text-overflow-ellipsis;
}

.note {
  color: $disabled-medium-emphasis-color;
  display: inline;
  margin-left: 0.25rem;

  @include font-type('body 5');
}

.address {
  height: 3rem;
  display: flex;
  margin-bottom: 1rem;

  @include font-type('subtitle 2');

  svg {
    margin-right: 0.25rem;
    flex-shrink: 0;
  }
}

.addressText {
  margin-right: 1.25rem;
  height: fit-content;

  @include multiLineEllipsis(1.2em, 2);
}

.distanceWrapper {
  display: flex;
  margin-bottom: 1rem;
}

.directionLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  
  &:hover {
    cursor: pointer;
  }
}

.map {
  height: 15.75rem;
}

.copy {
  margin-left: auto;

  &:hover {
    cursor: pointer;
  }

  svg {
    margin-right: 0 !important; // offset the default mr of svg set on this row
  }
}
