// TODO: abstract common code from this and WizardForm to theme.scss
$profile-form-middle-height: 90%;

.content{
  margin-top: 3rem;
}

.UserInput{
  width: 100%;
}

.selectionList {
  width: 100%;
  height: 5%;
  border-radius: $lg-border-radius $lg-border-radius 0 0;
  justify-content: center;
  margin-top: 2vh;
  margin-right: 3rem;
}

.titleNotSelected {
  height: 3rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: $md-font-size;
  color: rgba(32, 32, 32, 0.6);
  display: flex;
}

.titleSelected{
  height: 3rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: $md-font-size;
  color: #E37F4E;
  display: flex;
}

.selectOn{
  color: #E37F4E;
}

.selectOff{
  color: rgba(32, 32, 32, 0.6);
}

.selectItem{
  padding-top: 0.25rem;
}

.divider {
  height: 45px;
  width: 5px;
  background-color: #E37F4E;
  border-radius: 6.5rem;
  margin: 0 1.5rem;
}

.dividerOff{
  visibility: hidden;
}

.element {
  width: 100%;
  text-align: center;
  position: relative;
  top: -30px;
  color: $secondary-1-color;
  font-size: x-large;
}

.profileCross {
  position: absolute;
  top: 26px;
  left: 42px;
}

.mypost {
  color:#a6623f;
}

.profile-selected-under {
  text-align: center;
}

.middleSection {
  width: 100%;
  height: $profile-form-middle-height;
  @include bp-up('md') {
    height: 600px;
  }
}

.name {
  height: fit-content;
  width: 100%;
  font-family: Montserrat;
  font-size: $lg-font-size;
  font-weight: bold;
  color: #202020;
}

.verified {
  color: $secondary-2-color;
  font-size: $sm-font-size;
  font-weight: bold;
}

.label {
  width: 100%; // was 160px, TODO: use non-constant widths
  height: 23px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: black;
  margin-bottom: 0;
}

.bio {
  color: $primary-input-color;
}

.signOut {
  color: $secondary-dark-color;
  text-decoration: underline;
}

.cancel {
  color: $primary-input-color;
  text-decoration: underline;
}

.charCheck {
  position: absolute;
  right: 15px;
  bottom: 0;
  color: $primary-dark-color;
}

.bioText {
  resize: none;
  height: 16rem !important;
}

.schoolYear {
  .form-group {
    width: 100%;
  }
}

.profileWrap {
  margin-top: 20px;
  justify-content: center;
}

.editWrap {
  height: 85px;
}

.smallText{
  font-size: 12px;
  margin-left: 0.5rem;
  font-weight: normal;
}

.UserIdentifier{
  color: #A64919;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.icon {
  border-style: solid;
  border-width: thin;
  border-color: $primary-light-color;
  width: 54px;
  height: 54px;
  margin-left:1rem;
}

.postsList {
  background-color: $primary-1-color;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.noPostsText {
  text-align: left;
  display: block;
  width: 100%;
  font-family: Montserrat;
  font-size: $lg-font-size;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $secondary-dark-color;
}

.myPost {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.myPostPicture {
  width: 100px;
  height: 100px;
  border-radius: 13px;
}

.myPostInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.myPostTitle {
  font-size: $xs-font-size;
  color: $secondary-dark-color;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  font-family: Montserrat;
}

.myPostDetails {
  font-size: $xs-font-size;
  color: black;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  font-family: Montserrat;
}

.myPostActions {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.myPostEdit {
  font-size: $md-font-size;
  color: $secondary-dark-color;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-decoration: underline;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  font-family: Montserrat;
}

.modal {
  @include bp-up('md') {
    max-width: 90%;
  }

  .modal-content {
    padding: 0;
    border: 0;
  }
}

.dropdown{
  width: 65%;
}

.bio{
  width: 85%;
}

.textInfo{
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.phoneNum{
  margin-top: 0.5rem;
}