

.word {
  @include font-type('subtitle 1');

  color: $primary-dark-color;
  font-size: 18px;
}

.title {
  @include font-type('h4');

  color: $primary-dark-color;
  justify-content: center;
}

.requiredAsterisk {
  @include font-type('body 1');
  color: $primary-light-color;
}

.error {
  @include font-type('caption');

  color: $error-color;
  text-align: center;
}

.imageUploader {
  & .fileContainer {
    box-shadow: none;

    & .uploadPictureContainer {
      margin: 15px;
      padding: 1%;
      background-color: $primary-light-color;
      border: none;
      box-shadow: none;
    }

    & .deleteImage {
      font-size: 20px;
      padding: 5px;
      padding-top: 0;
      background-color: $primary-light-color;
      color: white;
    }
  }
}

.uploaderBtn {
  padding: 10px !important;
  padding-top: 0 !important;
  font-size: 40px !important;
  background-color: $primary-light-color !important;
  width: 60px;
  height: 60px;
}

.amenitiesToggle {
  width: 180px;
  height: 80px;
}
