@use 'utils' as *;

.bookmarkList {
  @include thin-border('sm', $primary-3-color);

  display: flex;
  flex-direction: column;
  background-color: $primary-2-color;
  border-radius: 22px;
  width: $bookmarks-list-width;
  height: 100%;
  overflow-y: hidden;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
}

.icon {
  margin-bottom: auto;
  align-self: baseline;
  margin-right: 0.5rem;
}

.title {
  @include font-type('secondary-title');
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.bookmarkWrapper {
  margin-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: 100%;
}

.listWrapper {
  overflow-y: auto;
}

.noneMessage {
  @include font-type('subtitle');
  color: $primary-dark-color;
  padding-top: 25%;
  overflow-y: hidden;
}
