.container {
  max-width: 100%;
  margin: 0;
}

.pic {
  overflow: hidden;
  padding: 0;

  @include bp-down('sm') {
    height: 16.875rem;
  }
}

.day {
  color: $disabled-low-emphasis-color;
  margin-bottom: 14px;
}

.name {
  color: $secondary-900-color;
  margin-bottom: 8px;

  @include font-type('h3');
}

.address {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.25rem;
  @include font-type('body 1');

  div {
    height: 100%;
  }
}

.distance {
  margin-bottom: 1.25rem;
}

.priceCenterLink {
  display: inline-block;

  a {
    @include font-type('body 1');
  }
}

.map {
  height: 300px;
  padding-left: 0rem !important;
}

.textPortion {
  margin-left: 0.5rem;
}
