.alertContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.button {
  position: absolute;
  right: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0rem 0.75rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: 0.015rem;
}

.text {
  color: $black-color;

  @include font-type('body 3');
}

.button:hover {
  cursor: pointer;
}

.success {
  background: $secondary-50-color;
  color: $secondary-900-color;
  .button {
    @include svg-fill(#94b36c);
  }
}

.alert {
  background: #f9dfdf;
  color: #e16161;
  .button {
    @include svg-fill(#e16161);
  }
}

.warning {
  background: #fffaea;
  color: $black-color;
  .button {
    @include svg-fill(#f3d990);
  }
}

.info {
  background: #e2e6fa;
  color: $link-color;
  .button {
    @include svg-fill($link-color);
  }
}
