// Variables that will be used across the site should go here (try to use
// bootstrap's variables whenever possible).
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

/**
 * STYLE GUIDE COLORS.
 */
// Primary colors
// TODO Old style guide
$primary-light-color: #e7936d;
$primary-dark-color: #a6623f;
$primary-input-color: #e17847;
$primary-1-color: #fffaf8;
$primary-2-color: #fdf4f0;
$primary-3-color: #f8e6d8;
$primary-4-color: #e7cbb6;
$primary-5-color: #d5b09a;
$primary-6-color: $primary-dark-color;

// TODO New style guide
$primary-50-color: #fdf4f0;
$primary-100-color: #f3cfbf;
$primary-200-color: #edb096;
$primary-300-color: #e7946d;
$primary-400-color: #e37f4e;
$primary-500-color: #e36b2c;
$primary-600-color: #d96528;
$primary-700-color: #cb5d24;
$primary-800-color: #be5620;
$primary-900-color: #a64919;
$primary-light-color: $primary-300-color;
$primary-dark-color: $primary-800-color;

// Secondary colors
// TODO Old style guide
$secondary-light-color: #a5bf84;
$secondary-dark-color: #4d5e3b;
$secondary-1-color: #e6f0d8;
$secondary-2-color: #a5bf84;
$secondary-3-color: $secondary-dark-color;

// TODO New style guide
$secondary-50-color: #eff4e9;
$secondary-100-color: #d7e3c8;
$secondary-200-color: #bed1a5;
$secondary-300-color: #a5bf84;
$secondary-400-color: #94b36c;
$secondary-500-color: #81a750;
$secondary-600-color: #749849;
$secondary-700-color: #62853e;
$secondary-800-color: #507235;
$secondary-900-color: #325123;
$secondary-light-color: $secondary-300-color;
$secondary-dark-color: $secondary-800-color;

// Disabled colors
$disabled-low-emphasis-color: #aaaaaa;
$disabled-medium-emphasis-color: #797979;
$disabled-high-emphasis-color: #3d3d3d;
$disabled-default-color: $disabled-low-emphasis-color;

// Other colors.
$highlight-color: #f3d990;
$error-color: #e16161;
$black-color: #202020;
$link-color: #6d83e7;
$background-color: #fffaf8;

/**
 * STYLE GUIDE TYPOGRAPHY.
 */
// Font stack
$primary-font-stack: 'Montserrat', 'Courier New', Courier, monospace;
$secondary-font-stack: 'Roboto Slab', 'Courier New', Courier, monospace;

// Font Weights
$bold-font-weight: 700;
$regular-font-weight: 400;

// Font sizes
$xl-font-size: 1.875rem; // 30px
$lg-font-size: 1.5rem; // 24px
$md-font-size: 1.25rem; // 20px
$sm-font-size: 1rem; // 16px
$xs-font-size: 0.75rem; // 12px

/**
 * STYLE GUIDE OTHER VARS.
 */
$lg-border-radius: 1.375rem; // 22px
$sm-border-radius: 0.625rem; // 10px
$input-border-radius: 0.5rem; // 8px

$lg-modal-height: 37.5rem; // 600px

$default-border-width: 0.1875rem; // 3px

/**
 * WEBSITE DESIGN VARIABLES.
 */
$entire-site-margin-x: 8vw;
$navbar-height: 4.375rem; // 70px
$bookmarks-list-width: 13.75rem; // 220px
$filter-height: 5vh;
$filter-top-margin: 5vh;

/**
 * @deprecated
 * There are 5 main colors: 3 orange variations, two green. The three orange variations seem to have 3 purposes:
 * 1) a color to represent user-responsive (user can affect it) 2) a 'background/unfocused' color 3) a 'focused'
 * color. The two green variations seem to have similar purposes, a 'focused' and 'unfocused/background' color
 * (these will just be secondary-color and secondary-light-color since there are only 2).
 */
$responsive-to-user-color: #e7936d; // i.e. buttons
$focused-color: #a6623f; // i.e. 'Your name'
$unfocused-color: #d3ab98; // i.e. 'min', 'to school'
$primary-color: $responsive-to-user-color;
$primary-color-light: #fdf4f0;
$secondary-color: #4d5e3b;
$main-background-color: #fffcfb;
$darker-background-color: #f8e6d8;

$rounded-lg: 2.5rem; // 40px

