

// TODO: abstract common code from this and WizardForm to theme.scss
$profile-form-middle-height: 90%;

.topBar {
  width: 100%;
  height: 5%;
  display: flex;
  border-radius: $lg-border-radius $lg-border-radius 0 0;
  justify-content: center;
  margin-top: 2vh;
}

.title {
  @include font-type('h4');
  font-weight: $regular-font-weight;
  color: $secondary-dark-color;
}

.divider {
  color: $secondary-100-color;
  font-size: x-large;
}

.element {
  width: 100%;
  text-align: center;
  position: relative;
  top: -30px;
  color: $secondary-100-color;
  font-size: x-large;
}

.profileCross {
  position: absolute;
  top: 26px;
  left: 42px;
}

.profileSelected {
  font-weight: bold !important;
}

.profile-selected-under {
  text-align: center;
}

.middleSection {
  width: 100%;
  height: $profile-form-middle-height;
  @include bp-up('md') {
    height: 600px;
  }
}

.name {
  text-align: center !important;
  display: block;
  width: 100%;
  height: 25px;
  font-family: Montserrat;
  font-size: $lg-font-size;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a6623f;
}

.verified {
  margin-top: 15px;
  text-align: center !important;
  color: $secondary-300-color;
  font-size: $sm-font-size;
  font-weight: bold;
}

.label {
  width: 100%; // was 160px, TODO: use non-constant widths
  height: 23px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $primary-light-color;
}

.bio {
  color: $primary-light-color;
}

.signOut {
  color: $secondary-dark-color;
  text-decoration: underline;
}

.cancel {
  color: $primary-light-color;
  text-decoration: underline;
}

.charCheck {
  position: absolute;
  right: 15px;
  bottom: 0;
  color: $primary-dark-color;
}

.bioText {
  resize: none;
  height: 150px !important;
}

.schoolYear {
  .form-group {
    width: 100%;
  }
}

.profileWrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.editWrap {
  height: 85px;
}

.icon {
  border-style: solid;
  border-width: thin;
  border-color: $primary-light-color;
  width: 100px;
  height: 100px;
}

.postsList {
  background-color: $background-color;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.noPostsText {
  text-align: left;
  display: block;
  width: 100%;
  font-family: Montserrat;
  font-size: $lg-font-size;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $secondary-dark-color;
}

.myPost {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.myPostPicture {
  width: 100px;
  height: 100px;
  border-radius: 13px;
}

.myPostInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.myPostTitle {
  font-size: $xs-font-size;
  color: $secondary-dark-color;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  font-family: Montserrat;
}

.myPostDetails {
  font-size: $xs-font-size;
  color: black;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  font-family: Montserrat;
}

.myPostActions {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.myPostEdit {
  font-size: $md-font-size;
  color: $secondary-dark-color;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-decoration: underline;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  font-family: Montserrat;
}

.modal {
  @include bp-up('md') {
    max-width: 90%;
  }

  .modal-content {
    padding: 0;
    border: 0;
  }
}
