

.card {
  /*@include thin-border('md');*/
  background-color: #FFFFFF;/*$secondary-1-color;*/
  border-radius: 0.5rem; // TODO make variable
  overflow: hidden;
  height: 16.875rem; //temporary, might remove later
  box-shadow: 0 0.4rem 0.6rem 0 rgba(black, .14); //elevation 06dp
}

.pic {
  height: 16.875rem;
  overflow: hidden;
  padding: 0;
  
}

.divider {
  color: rgba(77, 94, 59, 0.2);
  font-weight: bold;
}

.textPortion{
  margin-left: 0.5rem;
  font-family: Montserrat;
}

.secondCol{
  padding: 0;
  margin: 0;
}

.day{
  margin: 0.3rem 0 1.5rem 0;
  color:#AAAAAA;
  font-size: 0.8rem
}

.price{
  margin-bottom: 1.5rem;
  color: #A64919;

  b{
    font-size: 1.6rem;
  }
}

.distance {
  margin-bottom: 0.5rem;
  font-size: 1rem
}

.address{
  margin-bottom: 1.8rem;
  display: flex;
  font-size: 0.85rem;
  gap: 0.4rem;

  div{
    height: 100%;
  }
}

.locationIcon{
  margin-top: 0.5rem;
}

.room{
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #797979
}

.date{
  font-size: 0.9rem;
  color: #797979
}