.supportText {
  margin-top: 0.5rem;
  text-align-last: center;

  @include font-type('body 3');
}

.modalWrapper > div:first-child {
  background-color: $secondary-900-color !important;
  opacity: 0.2;
}

.modal {
  padding: 1.5rem;
  padding-bottom: 2rem;
}

.modalButtonWrapper {
  margin-top: 2rem;
}

.modalButton {
  border-radius: $button-border-radius;
  padding: 0.75rem 1.5rem;
}
