

.icon {
  margin-top: 0.5rem;

  & svg {
    fill: $secondary-dark-color;
    stroke: none;
  }
}

.useStroke svg {
  fill: none;
  stroke: $secondary-dark-color;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;
  
  @include bp-up('lg') {
    margin-left: 0 !important; // TODO temporary, necessary to override bootstrap's container
    margin-right: 0 !important;
  }
}

.houseTypeWrapper {
  justify-content: left;
  flex-grow: 0;
}

.houseType {
  color: $secondary-dark-color;
  padding: 0.5rem 1rem;
  background-color: $secondary-100-color;
  border-radius: 0.25rem;

  @include font-type('h4');
}

.priceWrapper {
  @include font-type('h4');
  color: $primary-900-color;
}

.priceLabel {
  @include font-type('caption');
  color: $primary-dark-color;
}

.subtitle {
  @include font-type('caption');
  color: $secondary-dark-color;
}

.primary {
  @include font-type('body 1');
  color: $secondary-dark-color;
}

.justifyCenter {
  justify-content: center;
}

.textCenter {
  text-align: center;
}
